html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1E1F33;
  color: aliceblue !important;
}

.ant-card-meta-title{
  color: #fff !important;
	font-size:20px;
  
}

.ant-typography-ellipsis-multiple-line{
  color: #fff !important;
}
.ant-modal-body{
  background-color: rgb(41, 40, 71) !important;
  color: #fff !important;
  
}
.ant-divider-inner-text,.ant-modal-close-icon{
	color:#fff !important;
}
.ant-divider-inner-text{
	color:aliceblue !important;
}