html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1E1F33;
  color: aliceblue !important;
}

.ant-card-meta-title{
  color: #fff !important;
}

.ant-typography-ellipsis-multiple-line{
  color: #fff !important;
}