.movieHeader {
    /*background-color: #373b69;*/
    padding-top: 1rem;
    color: #424242;
    font: 24px Arial,sans-serif;
    font-weight: normal;
}
.movieTitle {
    color: bisque;
    font-weight: bold;
   /* padding-left: 5px;*/

}
.movieContent{
    font-weight: normal;
    color: #fff;
}
.movieDescription{
    color: #fff;
}
